Source: pyfuse3
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all-dev, debhelper (>= 9),
  python3-anyio (>= 3),
Standards-Version: 3.9.6
Homepage: https://github.com/libfuse/pyfuse3

Package: python3-pyfuse3
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends},
  python3-anyio (>= 3),
Recommends: 
  python3-trio (>= 0.18),
Description: Python 3 bindings for libfuse 3 with async I/O support
 pyfuse3 is a set of Python 3 bindings for `libfuse 3`_. It provides an
 asynchronous Anyio_-based API compatible with Trio_ and asyncio_, and
 enables you to easily write a full-featured Linux filesystem in Python.

